<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.bt.examples.category"
            class="org.be.textbe.bt.examples.MOvenExampleWizard"
            icon="icons/beicon.gif"
            id="org.be.textbe.bt.examples.moven"
            name="%wizard.name"
            hasPages="false"
            project="true">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.bt.examples.category"
            class="org.be.textbe.bt.examples.BTNotationExampleWizard"
            icon="icons/beicon.gif"
            id="org.be.textbe.bt.examples.wizard.btnotation"
            name="%wizard.name.0"
            hasPages="false"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <category
            id="org.be.textbe.bt.examples.category"
            name="%category.name"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>

</plugin>
