<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin
   id="org.be.textbe.st.model"
   name="%pluginName"
   version="0.1.1"
>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textst"
            class="org.be.textbe.st.textst.TextstPackage"
            genModel="metamodel/textST.genmodel"/>
   </extension>

</plugin>
