<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.be.textbe.st.examples.category"
            name="Structure Trees"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.st.examples.category"
            class="org.be.textbe.st.examples.OCLComparisonExampleWizard"
            hasPages="false"
            icon="$nl$/icons/beicon.gif"
            id="org.be.textbe.st.examples.ocl"
            name="OCL Comparison Example"
            project="true">
         <description>
            Insert Description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.st.examples.category"
            class="org.be.textbe.st.examples.STNotationExampleWizard"
            hasPages="false"
            icon="$nl$/icons/beicon.gif"
            id="org.be.textbe.st.examples.notation"
            name="Structure Trees Notation Example"
            project="true">
         <description>
            Insert Description
         </description>
      </wizard>
   </extension>

</plugin>
