<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.be.textbe.ide.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.be.textbe.ide.intro.Perspective"
            id="org.be.textbe.ide.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="TextBe">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.gif">
         </property>
         <property
               name="appName"
               value="TextBe">
         </property>
         <property
               name="startupProgressRect"
               value="5,70,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="5,90,445,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.be.textbe.ide.intro">
      </intro>
      <introProductBinding
            introId="org.be.textbe.ide.intro"
            productId="org.be.textbe.ide.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.be.textbe.ide.intro"
            content="introContent.xml"
            id="org.be.textbe.ide.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
