<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/2.0.0"
            class="org.be.textbe.bt.textbt.TextbtPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/component"
            class="org.be.textbe.bt.textbt.component.ComponentPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/component/behavior/event"
            class="org.be.textbe.bt.textbt.component.behavior.event.EventPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/component/behavior/state"
            class="org.be.textbe.bt.textbt.component.behavior.state.StatePackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/node"
            class="org.be.textbe.bt.textbt.node.NodePackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/node/quantifying"
            class="org.be.textbe.bt.textbt.node.quantifying.QuantifyingPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/node/operation"
            class="org.be.textbe.bt.textbt.node.operation.OperationPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/activity"
            class="org.be.textbe.bt.textbt.activity.ActivityPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/activity/sequence"
            class="org.be.textbe.bt.textbt.activity.sequence.SequencePackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/activity/systemStateGuard"
            class="org.be.textbe.bt.textbt.activity.systemStateGuard.SystemStateGuardPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/branch"
            class="org.be.textbe.bt.textbt.branch.BranchPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.be.textbe/textbt/traceability"
            class="org.be.textbe.bt.textbt.traceability.TraceabilityPackage"
            genModel="model/textbt.genmodel"/>
   </extension>

</plugin>
