<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.be.textbe.svg.view.views.SvgView"
            icon="icons/svg-logo-16x16.png"
            id="org.be.textbe.svg.view.views.SvgView"
            name="%view.name">
      </view>
   </extension>

</plugin>
