<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="beBuilder"
         name="BE Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.be.textbe.beviz.be2gv.builder.builder.BeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="beNature"
         name="BE Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.be.textbe.beviz.be2gv.builder.builder.BeNature">
         </run>
      </runtime>
      <builder
            id="org.be.textbe.beviz.be2gv.builder.beBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.be.textbe.beviz.be2gv.builder.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.be.textbe.beviz.be2gv.builder.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.be.textbe.beviz.be2gv.builder.addRemoveNatureAction"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
