<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.be.textbe.beviz"
            name="Behavior Engineering">
      </category>
      <view
            category="org.be.textbe.beviz"
            class="org.be.textbe.beviz.BEView"
            icon="icons/beicon.gif"
            id="org.be.textbe.beviz.BEView"
            name="BE Visualiser"
            restorable="true">
      </view>
   </extension>

</plugin>
