<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.bt.examples.category"
            class="org.be.textbe.bt.examples.MOvenExampleWizard"
            icon="icons/beicon.gif"
            id="org.be.textbe.bt.examples.moven"
            name="Microwave Oven Example"
            hasPages="false"
            project="true">
         <description>
            Insert Description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.bt.examples.category"
            class="org.be.textbe.bt.examples.ATPExampleWizard"
            icon="icons/beicon.gif"
            id="org.be.textbe.bt.examples.atp"
            name="Automated Train Protection Example"
            hasPages="false"
            project="true">
         <description>
            Insert Description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.be.textbe.bt.examples.category"
            class="org.be.textbe.bt.examples.BTNotationExampleWizard"
            icon="icons/beicon.gif"
            id="org.be.textbe.bt.examples.wizard.btnotation"
            name="BT Notation v1.0 Example"
            hasPages="false"
            project="true">
         <description>
            Insert Description
         </description>
      </wizard>
      <category
            id="org.be.textbe.bt.examples.category"
            name="Behavior Trees"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>

</plugin>
