<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.be.textbe.ct.textct.resource.ct.mopp.CtMetaInformation" id="org.be.textbe.ct.textct.resource.ct.mopp.CtMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.ct.textct.resource.ct.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.ct.textct.resource.ct.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.ct.textct.resource.ct.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.ct.textct.resource.ct.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.ct.textct.resource.ct.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.nature" name="ct nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.be.textbe.ct.textct.resource.ct.mopp.CtNature">
			</run>
		</runtime>
		<builder id="org.be.textbe.ct.textct.resource.ct.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.be.textbe.ct.textct.resource.ct.builder" name="ct Builder">
		<builder hasNature="true">
			<run class="org.be.textbe.ct.textct.resource.ct.mopp.CtBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.be.textbe.ct.textct.resource.ct.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.be.textbe.ct.textct.resource.ct.mopp.CtResourceFactoryDelegator" type="ct">
		</parser>
	</extension>
	
	<extension-point id="org.be.textbe.ct.textct.resource.ct.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.be.textbe.ct.textct.resource.ct.debug.CtLineBreakpoint" id="org.be.textbe.ct.textct.resource.ct.debug.breakpoint" markerType="org.be.textbe.ct.textct.resource.ct.debug.lineBreakpoint.marker" name="ct Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.be.textbe.ct.textct.resource.ct.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.be.textbe.ct.textct.resource.ct.ui.launchConfigurationType" delegate="org.be.textbe.ct.textct.resource.ct.launch.CtLaunchConfigurationDelegate" modes="run,debug" name="ct Application" sourceLocatorId="org.be.textbe.ct.textct.resource.ct.ui.sourceLocator" sourcePathComputerId="org.be.textbe.ct.textct.resource.ct.ui.sourcePathComputer" delegateName="ct Launch Tooling" delegateDescription="This will run or debug .ct files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.be.textbe.ct.textct.resource.ct.debug.CtSourcePathComputerDelegate" id="org.be.textbe.ct.textct.resource.ct.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.be.textbe.ct.textct.resource.ct.ui.sourceLocator" class="org.be.textbe.ct.textct.resource.ct.debug.CtSourceLocator" name="ct Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
