<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="be2gv" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.3.1.v201209061455"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.6.0.v20120328-0001-67T-96SGR75UNqZNTdeQnghI6uFA"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jet.sdk.feature.group" version="1.1.1.v201101271243-42186A5NsKEQPHRQeFaJS4A35"/>
<repository location="http://download.eclipse.org/modeling/m2t/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.emftext.sdk.feature.group" version="1.4.1.v201207310007"/>
<unit id="org.emftext.commons.antlr3_2_0.feature.group" version="3.2.0.v201207310007"/>
<unit id="org.emftext.commons.antlr3_3_0.feature.group" version="3.3.0.v201207310007"/>
<repository location="http://emftext.org/update"/>
</location>
</locations>
</target>
