<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Behaviour Engineering"
            id="org.be.textbe.gv.bt_view">
      </category>
      <view
            name="Behaviour Tree View"
            icon="icons/sample.gif"
            category="org.be.textbe.gv.bt_view"
            class="org.be.textbe.gv.bt_view.views.BT_View"
            id="org.be.textbe.gv.bt_view.views.BT_View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.be.textbe.gv.bt_view.views.BT_View">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
